@{
    ViewData["Title"] = "Контакти";
}

<div class="container">
    <h2>Свържете се с нас</h2>
    <p>Email: alexandra@webcosmeticapp.com</p>
    <p>Телефон: +359 888 123 456</p>
    <p>Адрес: Перник</p>
</div>
